- build:
    pipelines:
    - name: node-ci-v2
      notifications:
        slack:
          channel: alerts-admin-orders-frontend
      parameters:
        packageManager: yarn
        sonarProjectName: my-subscriptions
        nodeCommands:
            - test
      runtime:
        architecture: amd64
      when:
      - event: push
        source: branch
    - name: techdocs-v1
      parameters:
        entityReference: default/component/my-subscriptions
      when:
      - event: push
        source: branch
        regex: main
        path:
        - "docs/**"
        - ".vtex/deployment.yaml"
        - ".vtex/deployment.json"
        - "README.md"
    provider: dkcicd
  description: My Subscriptions
  name: my-subscriptions
  referenceId: CVB632FW
